<%= form_for @entry do |f| %>

	<% if @entry.errors.any? %>
		<ul class="flash-error">
			<% @entry.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>


	<%= f.label :content, 'Content' %>
	<%= f.text_area :content %>

	<div class="field">
		<%= f.label :exercise_ids, 'Exercises' %>
		<%= f.collection_select :exercise_ids, Exercise.all, :id, :name, { include_blank: 'Select Exercises' }, { multiple: true } %>
	</div>

	<div class="field">
		<%= f.label :tag_ids, 'Tags' %>
		<%= f.collection_select :tag_ids, Tag.all, :id, :name, { include_blank: 'Select Tags' }, { multiple: true } %>
	</div>

	<%= f.submit 'Save' %>
	<%= link_to 'Cancel', entries_path, class: 'button' %>
<% end %>
