<h1>Entries <small><%= link_to 'New Entry', new_entry_path %></small></h1>

<ul>
	<% @entries.each do |entry| %>
		<li>
			<%= link_to entry.created_at.strftime("%B %d %Y"), entry_path(entry) %> |
			<%= entry.content %>

			<%= link_to 'Edit', edit_entry_path(entry) %>
			<%= link_to 'Delete', entry_path(entry), method: :delete %>
		</li>
	<% end %>
</ul>
