<%= link_to 'New Entry', new_entry_path, class: 'button' %>

<table class="table-minimal">
	<thead>
		<tr>
			<th>Date</th>
			<th>Content</th>
			<th>Actions</th>
		</tr>
 	</thead>
 	<tbody>
		<% @entries.each do |entry| %>
			<tr>
				<td><%= link_to entry.created_at.strftime("%B %d %Y"), entry_path(entry) %></td>
				<td>
					<%= simple_format entry.content %>

					<% if entry.exercises.any? %>
						<h3>Exercises</h3>
						<ul>
							<% entry.exercises.each do |exercise| %>
								<li class="badge-notice"><%= link_to exercise.name, exercise_path(exercise) %></li>
							<% end %>
						</ul>
					<% end %>

					<% if entry.tags.any? %>
						<h3>Tags</h3>
						<ul>
							<% entry.tags.each do |tag| %>
								<li class="badge-notice"><%= tag.name %></li>
							<% end %>
						</ul>
					<% end %>
				</td>
				<td>
					<%= link_to 'Edit', edit_entry_path(entry), class: 'button' %>
					<%= link_to 'Delete', entry_path(entry), method: :delete, class: 'button' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
