<header class="navigation" role="banner">
	<div class="wrapper">

		<%= link_to 'Guitar Logs', root_path, class: 'logo' %>

		<nav role="navigation">
			<ul id="js-navigation-menu" class="navigation-menu show">
				<li class="nav-link"><%= link_to 'Journal', entries_path %></li>
				<li class="nav-link"><a href="#">Exercises</a></li>
			</ul>
		</nav>

		<div class="navigation-tools">
			<div class="search-bar">
				<form role="search">
					<input type="search" placeholder="Enter Search" />
					<button type="submit">
						<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
					</button>
				</form>
			</div>

			<% if current_user %>
				Logged in as <%= current_user.email %>.
				<%= link_to "Log out", log_out_path, class: 'button' %>
			<% else %>
				<%= link_to "Sign up", sign_up_path, class: 'button' %> or
				<%= link_to "log in", log_in_path, class: 'button' %>
			<% end %>
		</div>
	</div>
</header>
