<!DOCTYPE html>
<html>
<head>
  <title>Guitarlogs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

	<%= render 'shared/flashes' %>
	<%= render 'shared/header' %>

	<div class="wrapper">
		<%= yield %>
	</div>

</body>
</html>
